/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fraunces-900 - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v24-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v24-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Barlow';
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1280px;
  padding-top: 30px;
}

.header-sait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-about+.header-about {
  margin-left: 30px;
}

.header-about {
  opacity: 0.6;
  padding: 2px 5px;
}

.header-about:hover {
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  color: blue;
  padding: 2px 5px;
  border-radius: 4px;
  background: rgb(80, 40, 240);
}

.middle-sait {
  width: 1280px;
  height: 600px;
  margin-top: -30px;
  padding-top: 86px;
  padding-left: 86px;
  background-repeat: no-repeat;
  background-image: url("../img/Great.svg");
  background-position: 0 0;
}

.middle-great {
  font-family: 'Fraunces';
  color: #fff;
  width: 493px;
  Font-size: 72px;
  Line-height: 72px;
}


.middle-start {
  color: #fff;
  width: 435px;
  margin-bottom: 60px;
  Font-size: 16px;
  Line-height: 26px;
  Line-height: 165%;
}

.middle-sait:hover {
  width: 670px;
  -webkit-transition-duration: 8s;
  -o-transition-duration: 8s;
  transition-duration: 8s;
}

.middle-create {
  font-family: 'Fraunces';
  width: 217px;
  color: #fff;
  padding: 15px 31px 16px;
  border-radius: 5px;
  background: #0E8784;
  border: 5px solid transparent;
}

.middle-create:hover {
  color: aqua;
  background: rgb(154, 243, 243);
}

.middle-create:active {
  color: blue;
  background: #fff;
  border: 5px solid rgb(222, 26, 26);
}

.middle-Gran-Espresso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  margin-left: 50px;
  margin-top: 160px;
  margin-bottom: 160px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-image: url("../img/our-collection.svg");
  background-position: 50px -30px;
}

.middle-gran {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-link {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.middle-planalto {
  font-family: 'Fraunces';
  margin-top: 60px;
  Font-size: 24px;
  Line-height: 32px;
  opacity: 0.8;
}

.middle-piccollo {
  width: 255px;
  opacity: 0.7;
  Font-size: 16px;
  Line-height: 26px;
  Line-height: 165%;
}

.middle-link-why {
  height: 577px;
  border-radius: 10px;
  background: #293039;
  text-align: center;
  padding-top: 80px;
}

.middle-Why {
  font-family: 'Fraunces';
  color: #fff;
  Font-size: 40px;
  Line-height: 48px;
}

.middle-large {
  color: #fff;
  width: 540px;
  opacity: 0.8;
  margin-top: 30px;
  margin-left: 370px;
  Font-size: 16px;
  Line-height: 26px;
  Line-height: 165%;
}

.middle-nav-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -230px;
}

.middle-ul+.middle-ul {
  margin-left: 30px;
}

.middle-ul2 {
  margin-left: 85px;
}

.middle-ul.middle-ul+.middle-ul {
  padding-top: 86px;
}

.middle-ul {
  text-align: center;
  width: 350px;
  padding: 60px 50px 50px;
  border-radius: 10px;
  background: #0E8684;
  border: 5px solid transparent;
}

.middle-ul:hover {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  border: 5px solid rgb(228, 48, 48);
  background: rgb(27, 27, 245);
}

.middle-best {
  font-family: 'Fraunces';
  color: #fff;
  width: 255px;
  opacity: 0.8;
  Font-size: 24px;
  Line-height: 32px;
  margin-top: 56px;
  margin-bottom: 24px;
}

.middle-discover {
  color: #fff;
  opacity: 0.8;
  Font-size: 16px;
  Line-height: 26px;
  Line-height: 165%;
}

.hero-nav {
  display: flex;
  margin-bottom: 60px;
}

.hero-sait {
  margin-top: 180px;
  margin-left: 85px;
  Font-size: 24px;
  Line-height: 32px;
}

.hero-how-h3 {
  font-family: 'Fraunces';
  opacity: 0.6;
}

.hero-works {
  max-width: 780px;
  height: 2px;
  background-color: #fdd6ba;
  display: inline;
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 82px;
  justify-content: space-between;
}

.hero-ring {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fefcf7;
  border: 3px solid #0e8784;
  display: inline-block;
}

.hero-ring:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fefcf7;
  border: 3px solid #870e0e;
  display: inline-block;
}

.hero-pick {
  width: 285px;
  margin-left: -40px;
}

.hero-pick2 {
  width: 285px;
  margin-left: 95px;
}

.hero-list-pick {
  font-family: 'Fraunces';
  opacity: 0.8;
  Font-size: 32px;
  Line-height: 36px;
}

.hero-text-select {
  opacity: 0.6;
  Font-size: 16px;
  Line-height: 26px;
  Line-height: 135%;
}

.hero-create {
  width: 180px;
}

.footer-link {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 35px 80px;
  background: #293039;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.footer-list+.footer-list {
  margin-left: 30px;
}

.footer-home {
  margin-left: 70px;
  display: flex;
  color: #fff;
  opacity: 0.6;
}

.footer-img {
  padding: 30px 0;
  background-repeat: no-repeat;
  background-image: url(../img/fesebooc.svg);
  background-position: 0 0;
}

.footer-plan {
  margin-left: auto;
}

.footer-tviter {
  margin-left: 25px;
}